# Python & IDE
__pycache__/
*.py[cod]
*$py.class
.idea/
.vscode/
.venv/
venv/
env/
.env

# Datasets and Outputs
datasets/
sahi_outputs/
error_analysis/
*.mp4
*.avi
*.jpg
*.jpeg
*.png

# Large Data & Predictions
*.json

# Model Weights and Exports
weights/
*.pt
*.onnx
*.engine
*.trt

# Exceptions (Files that MUST be pushed)
# 1. The main trained YOLO11s model
!runs/detect/train-6/weights/best.pt

# 2. The ReID model for tracking
!yolo26n-reid.onnx

# Ignore all other runs logs and weights
runs/*
!runs/detect/
runs/detect/*
!runs/detect/train-6/
runs/detect/train-6/*
!runs/detect/train-6/weights/
runs/detect/train-6/weights/*
!runs/detect/train-6/weights/best.pt